body.light {
  --bg-color: #ebebeb;
  --img-bg: url(../images/space-light.png) no-repeat center top;
  --text-color: #15141d;
  --title-color: #4b526a;
  --button-color-text: #fff;
  --fill-svg: #15141d;
}

body.dark {
  --bg-color: #222527;
  --img-bg: url(../images/space.png) no-repeat center top;
  --text-color: #ffffff;
  --title-color: #ffc700;
  --button-color-text: #060803;
  --fill-svg: #ffffff;
}

@media (prefers-color-scheme: dark) {
  body.dark {
    --bg-color: #222527;
    --img-bg: url(../images/space.png) no-repeat center top;
    --text-color: #ffffff;
    --title-color: #ffc700;
    --button-color-text: #060803;
    --fill-svg: #ffffff;
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  line-height: 0;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
}

body {
  max-width: 1360px;
  margin: 0 auto;
  background: var(--img-bg);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/*-------------------------------------------------*/

.header-content {
  position: relative;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  z-index: 10000;
}

.header-switch {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.header-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}

.button-switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-text {
  color: var(--text-color);
  font-family: Montserrat;
  line-height: 1.5;
}
.button-war {
  margin: 0 12px;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid var(--title-color);
  background-color: inherit;
  cursor: pointer;
}
.box-button {
  margin: 3px 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--title-color);
}

/*!++++++++++++++++++++++++++ ????? +++++++++++++++++++++++++++++++*/

body.light .box-button {
  position: relative;
  left: 15px;
}

/* ---------------------- HERO ----------------------- */

.hero-content {
  padding-top: 72px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.hero-left-content-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}

.hero-left-content-title {
  max-width: 573px;
  margin-top: 16px;
  font-size: 46px;
  font-style: italic;
  line-height: 1.39;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.hero-left-content-list {
  padding-top: 24px;
  color: var(--text-color);
}

.hero-left-content-item {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.hero-left-content-item:before {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--title-color);
  border-radius: 50%;
}

.hero-left-content-item:first-child {
  padding-top: 0;
}

.hero-left-content-item span {
  margin-left: 12px;
}

.hero-left-content-button {
  margin-top: 24px;
  width: 291px;
  height: 56px;
}

.hero-left-content-link {
  display: block;
  padding: 16px 32px;
  line-height: 1.5;
  color: var(--button-color-text);
  background-color: var(--title-color);
  border-radius: 38px;
  border: none;
  cursor: pointer;
}

.hero-left-content-subtext {
  max-width: 374px;
  margin-top: 104px;
}

.hero-left-content-subtext p {
  color: var(--text-color);
  line-height: 1.5;
  font-weight: 400;
}

.hero-img-star {
  position: relative;
  top: 184px;
  left: -220px;
  opacity: 0.4;
  z-index: 2;
}

.hero-img-star img {
  position: absolute;
}

.hero-img-dart {
  position: relative;
  top: -136px;
  left: -130px;
  z-index: 3;
}

.hero-img-dart img {
  position: absolute;
}

.hero-right-content {
  padding-top: 40px;
  z-index: 4;
}

.hero-right-content-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.hero-right-content-item {
  margin-bottom: 20px;
  display: flex;

  justify-content: flex-end;
  text-align: right;
}

.hero-right-content-item img {
  text-align: right;
}

.hero-right-content-item:last-child {
  margin-bottom: 0;
}

.hero-right-content-subtext {
  position: relative;
  margin-top: 325px;
  color: var(--title-color);
  line-height: 1.5;
  font-weight: 400;
}

/*-----------------------------  BRIEF  ------------------------*/

.brief {
  position: relative;
  background-color: var(--bg-color);
  z-index: 5;
}

.container-brief {
  padding-top: 60px;
  padding-bottom: 60px;
}

.brief-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--title-color);
}

.brief-list {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.brief-item {
  width: calc((100% - 24px * 3) / 4);
}

.brief-subtitle {
  padding-top: 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--title-color);
}

.brief-text {
  padding-top: 4px;
  line-height: 1.5;
  color: var(--text-color);
  text-align: left;
}

/** ====================== CODEX ================== */

.codex {
  background: var(--img-bg);
}

.codex-content {
  padding-top: 186px;
  padding-bottom: 186px;
  display: flex;
  justify-content: space-between;
}

.codex-title {
  max-width: 573px;
  color: var(--title-color);
  font-size: 46px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

.content {
  margin-left: 24px;
}

.codex-subtitle {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5px;
}

.codex-list {
  margin-top: 32px;
}

.codex-item {
  padding-bottom: 4px;
}

.codex-item:last-child {
  padding-bottom: 0;
}

.codex-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.codex-subtext {
  margin-top: 60px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

/** ================================================ */

/* ======================= FOOTER ====================== */

.footer {
  background-color: var(--bg-color);
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 740px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.footer-img {
  margin: 0 auto;
}

/* ==================== MODAL-FORM ======================= */

.modal-section {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(21, 20, 29, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 500000;
}

.modal-window {
  width: 600px;
  height: 404px;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-modal {
  position: absolute;
  top: 17px;
  right: 17px;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  background-color: transparent;
}

.close-modal path {
  fill: var(--fill-svg);
}

.modal-form-title {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
}

.modal-form-subtitle {
  margin-top: 4px;
  color: var(--text-color);
  line-height: 1.5em;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.form-label {
  color: var(--text-color);
  line-height: 1.5em;
}

.form-label_email {
  margin-top: 16px;
}

.form-input {
  margin-top: 4px;
  width: 440px;
  height: 40px;
  border: 1px solid var(--text-color);
  background-color: inherit;
}

.form-button {
  width: 207px;
  margin: 32px auto 0 auto;
  padding: 16px 32px;
  border-radius: 38px;
  background: var(--title-color);
  border: none;
  display: block;
  cursor: pointer;

  color: var(--button-color-text);
  line-height: 1.5em;
}

/*======================== MODAL-INFO ======================*/

.modal-info-title {
  color: var(--title-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.modal-info-subtitle {
  margin: 112px 0 32px 0;
  color: var(--text-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
}
